# Ejercicios con `pandas`

Importe las librerías necesarias:

In [2]:
import pandas as pd

Imprima las versiones de todas la librerías

In [3]:
pd.__version__

'1.2.4'

Importe los datos desde [aqui](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). Asígnelos a una variable `chipo`.

In [4]:
#Obttuve ayuda de 'https://www.kite.com/python/answers/how-load-a-.tsv-file-into-pandas-dataframe'
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

Muestre las primeras 10 entradas del dataframe

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

Cual es el número total de observaciones en el dataset?

In [6]:
#El numero de observacioens en el dataset es de 4622.
chipo.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [7]:
#El numeri de observaciones son 4622
print(len(chipo))

4622

Cuantas columnas hay en el dataset? Copielas a una lista.

In [8]:
#El dataset contiene 5 columnas
print(len(chipo.columns))

5

Imprima el nombre de las columnas

In [9]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

Como está indexado el dataset?

In [10]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

Cual fue el objeto más pedido?

In [11]:
#Chiken Bowl
chipo.groupby('item_name').quantity.sum()[chipo.groupby('item_name').quantity.sum() == chipo.groupby('item_name').quantity.sum().max()]

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

Para el objeto más pedido, cuantos fueron?

In [13]:
print('Fueron pedidos',chipo.groupby('item_name').quantity.sum().max(),'unidades')

Fueron pedidos 761 unidades

Cual fue el item más pedido en la columna `choice_description`?

In [17]:
#Diet Coke
chipo.choice_description.value_counts()

[Diet Coke]                                                                                                                                                                                      134
[Coke]                                                                                                                                                                                           123
[Sprite]                                                                                                                                                                                          77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                                                                            42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                                                                 40
                                                                                                                                                                                                ...
[Adobo-Marinated and Grilled Steak, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]                                                                                                    1
[[Fresh Tomato Salsa (Mild), Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Black Beans, Rice, Cheese, Sour Cream]]      1
[[Roasted Chili Corn Salsa (Medium), Tomatillo-Green Chili Salsa (Medium)], [Rice, Black Beans, Pinto Beans, Fajita Veggies, Cheese, Sour Cream, Lettuce]]                                         1
[Fresh Tomato Salsa (Mild), [Rice, Fajita Veggies, Cheese, Sour Cream, Guacamole]]                                                                                                                 1
[Tomatillo-Red Chili Salsa (Hot), [Cheese, Lettuce]]                                                                                                                                               1
Name: choice_description, Length: 1043, dtype: int64

Cuantos items fueron pedidos en total?

In [176]:
chipo.quantity.sum()

4972

Convierte el precio en un `float`

In [177]:
chipo['item_price'] = chipo['item_price'].str.replace('$','').astype(float)

<ipython-input-177-6ed771b6d87c>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  chipo['item_price'] = chipo['item_price'].str.replace('$','').astype(float)

In [179]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

Cuanto fue la ganancia total en el periodo del dataset?

In [161]:
print('La gancia total fue de $',chipo.item_price.sum())

La gancia total fue de $ 34500.16

Cúantos pedidos se hicieron?

In [160]:
id_agrupados = chipo.groupby(['order_id'])
print('Se realizaron',len(id_agrupados),'pedidos')

Se realizaron 1834 pedidos

Cual fue el promedio de ganancia por orden?

In [159]:
ticket_prom = chipo.item_price.sum()/len(id_agrupados)
print("El promedio de ganancia por orden fue de $",round(ticket_prom,2))

El promedio de ganancia por orden fue de $ 18.81

Cuántos items se vendieron en total?

In [16]:
print('Se vendieron', chipo.choice_description.count(),'Items')

Se vendieron 3376 Items